@model List<LearningCenter.Website.Models.ClassViewModel>
@{
    ViewData["Title"] = "Class List";
}

<div class="row border-bottom py-3 mb-3">
    <div class="col">
        <h3>Classes</h3>
    </div>
</div>
<div class="row mb-3">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="col-2">Name</th>
                    <th class="col-4">Description</th>
                    <th class="col-2">Price</th>
                </tr>      
            </thead>
            <tbody>
                @{ foreach (var clas in Model)
                    {
                        <tr>
                            <td class="col-2">@clas.Name</td>
                            <td class="col-4">@clas.Description</td>
                            <td class="col-2">@clas.Price</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>