
@{
    ViewData["Title"] = "Access Denied";
}
<div class="row border-bottom py-3 mb-3">
    <div class="col">
        <h1 class="text-danger">Access Denied</h1>
        <p>Please <a class="btn-link" asp-action="Register">register now</a> as a new user.</p>
    </div>
</div>